{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-10 offset-md-1 mt-2">
            <h2 class="text-center sub-heading mb-4">About Us</h2>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-font">
                        Welcome to Rainbow Runners, your virtual home for LGBTQ+ runners and allies! We're more than just a running club; we're a vibrant community united by our passion for running, inclusivity, and celebrating diversity in all its forms.
                    </p>
                </div>
            </div>
            <!--Mission statement section-->
            <div class="row">
                <div class="col-md-12">
                    <h4 class="sub-heading">Our Mission</h4>
                    <p class="text-font">
                        Whether you're a seasoned marathoner, a casual jogger, or just starting your running journey, there's a place for you here. Our club is open to everyone, regardless of gender identity, sexual orientation, race, ethnicity, or fitness level. We're all about creating a supportive and empowering environment where everyone feels welcome and encouraged to be their authentic selves.
                    </p>
                </div>
            </div>
            <!--Community statement section-->
            <div class="row">
                <div class="col-md-12">
                    <h4 class="sub-heading">Our Community</h4>
                    <p class="text-font">
                        What sets us apart is our commitment to fostering connections and building a sense of belonging. Through our virtual platform, we bring together LGBTQ+ runners from around South Wales, creating a space where you can connect with like-minded individuals, share your experiences, and find inspiration to reach your fitness goals. Whether you're looking for training tips, race recommendations, or simply seeking camaraderie, you'll find it all within our diverse and inclusive community.
                    </p>
                </div>
            </div>
            <!--Impact statement section-->
            <div class="row">
                <div class="col-md-12">
                    <h4 class="sub-heading" >Our Impact</h4>
                    <p class="text-font">
                        Rainbow Runners is more than just a running club; we're also dedicated to making a positive impact beyond the pavement. We actively support LGBTQ+ causes and organizations, using our platform to raise awareness and amplify marginalized voices. Through virtual events, fundraisers, and advocacy initiatives, we strive to create a more inclusive world where everyone can thrive.
                    </p>
                </div>
            </div>
            <!--Join us section-->
            <div class="row">
                <div class="col-md-12">
                    <h4 class="sub-heading">Join Us</h4>
                    <p class="text-font">
                        Join us as we lace up our trainers, hit the trails, and run towards a brighter, more inclusive future. Whether you're running for personal bests, social connection, or fitness, you'll find your place among the Rainbow Runners family. Together, we'll make strides towards a world where everyone is free to run, love, and live authentically.
                    </p>
                    <p class="text-font">
                        So come on, join the movement, and let's paint the streets with pride as we run with Rainbow Runners!
                    </p>
                </div>
            </div>
            <!--Sign up link-->
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center mb-2">
                    <a href="{% url 'account_signup' %}" class="btn btn-success">Click Here To Join Now</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}