{% extends "base.html" %}
{% load static %}

{% block hero_banner %}
    <div class="hero-banner">
        <div class="hero-title text-wrapper d-flex justify-content-center mt-5">
            <div class="text-body word-space">
                <div class="red">R</div>
                <div class="orange">A</div>
                <div class="yellow">I</div>
                <div class="green">N</div>
                <div class="light-blue">B</div>
                <div class="blue">O</div>
                <div class="purple">W</div>
            </div>
            <div class="text-body">
                <div class="red">R</div>
                <div class="orange">U</div>
                <div class="yellow">N</div>
                <div class="green">N</div>
                <div class="light-blue">E</div>
                <div class="blue">R</div>
                <div class="purple">S</div>
            </div>
        </div>
    </div>

{% endblock %}