{% extends "base.html" %}
{% load static %}
<!--Hero banner text with rainbow colours associated to each letter-->
{% block hero_banner %}
    <div class="hero-banner">
        <div class="hero-title text-wrapper d-flex justify-content-center mt-4">
            <div class="text-body word-space">
                <div class="red">R</div>
                <div class="orange">A</div>
                <div class="yellow">I</div>
                <div class="green">N</div>
                <div class="light-blue">B</div>
                <div class="blue">O</div>
                <div class="purple">W</div>
            </div>
            <div class="text-body">
                <div class="red">R</div>
                <div class="orange">U</div>
                <div class="yellow">N</div>
                <div class="green">N</div>
                <div class="light-blue">E</div>
                <div class="blue">R</div>
                <div class="purple">S</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--Welcome section-->
    <div class="row mt-4 d-flex align-items-center">
        <div class="col-md-6 ">
            <h2 class="text-center sub-heading">Welcome</h2>
            <p class="text-font">
                Welcome to Rainbow Runners, a new and inclusive LGBTQ+ virtual running club where diversity meets passion for running. Founded in the heart of South Wales, our aim is to be a sanctuary for runners from all walks of life, celebrating the joy of running in a supportive and welcoming environment.
            </p>
            <p class="text-font">
                At Rainbow Runners, we believe in the power of community and inclusivity. Our mission is to provide a safe space for LGBTQ+ individuals and allies to come together, share their love for running, and support each other in their fitness journeys. Whether you're a seasoned marathoner or just taking your first steps, you'll find a home with us.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="{{ MEDIA_URL }}runner.webp" alt="A photo of a runner" class="image">
        </div>
    </div>
    <!--Join now section acting as quick link to the sign up page-->
    <div class="row mt-5 d-flex justify-content-center ">
        <div class="col-md-6">
            <h2 class="text-center sub-heading">Run With Us</h2>
            <p class="text-font">
                Whether you're looking to improve your run, make friends, or simply find a place where you can be your authentic self, Rainbow Runners is here for you.
            </p>
            <p class="text-font">
                Explore our website to learn more about our events, access educational resources on LGBTQ+ issues in sports, and read testimonials from our members. If you're inspired by our cause and excited to lace up your running shoes, we warmly invite you to join us. Together, we run with pride.
            </p>
            <div class="text-center">
                <a class="btn bg-purple btn-success white sub-heading" aria-label="Go to the registration page." href="{% url 'account_signup' %}" role="button">Join Now</a>
            </div>
        </div>
    </div>
    <!--Display an overview of other pages in individual cards-->
    <div class="row d-flex justify-content-evenly mt-5">
        <div class="card bg-pink mb-2" style="width: 18rem;">
            <div class="card-body d-flex flex-column text-center">
                <h5 class="sub-heading">About Us</h5>
                <p class="text-font">Our "About Us" page is your window into the world of Rainbow Runners. Here, you'll learn about our mission to create a welcoming space where every member can thrive, our vision for a more inclusive future in sports, and the core values that guide us every step of the way. Click below to find out more.</p>
                <a href="{% url 'about' %}" class="mt-auto btn bg-purple btn-success white sub-heading" aria-label="Go to the about us page.">About Us</a>
            </div>
        </div>
        <div class="card bg-yellow mb-2" style="width: 18rem;">
            <div class="card-body d-flex flex-column text-center">
                <h5 class="sub-heading">Resources</h5>
                <p class="text-font">Welcome to our LGBTQ+ Resources section, here, you'll find a wealth of information, from advocacy groups and crisis hotlines to health services and other groups. Explore these resources to find support, education, and connection within the LGBTQ+ community and beyond. Browse the links below and discover the wealth of support available to you.</p>
                <a href="{% url 'resources' %}" class="mt-auto btn bg-purple btn-success white sub-heading" aria-label="Go to the resources page.">Resources</a>
            </div>
        </div>
        <div class="card bg-green mb-2" style="width: 18rem;">
            <div class="card-body d-flex flex-column text-center">
                <h5 class="sub-heading">Contact Us</h5>
                <p class="text-font">Got questions, ideas, or just want to say hello? We're all ears! Drop us a message by clicking the button below. Whether you're curious about joining, need more info on our events, or have something else on your mind, we're here to help. Don't be a stranger reach out today, and let's get the conversation running!</p>
                <a href="{% url 'contact_us' %}" class="mt-auto btn bg-purple btn-success white sub-heading" aria-label="Go to the contact us page.">Contact Us</a>
            </div>
        </div>
    </div>
{% endblock %}