{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="text-center mb-4 sub-heading">Resources</h2>
                <div class="row row-cols-1 row-cols-md-2 g-3">
                    <div class="col mb-3">
                        <div class="card h-100 bg-pink">
                            <div class="card-body text-center">
                                <h5 class="card-title">Cardiff Dragons FC</h5>
                                <p class="card-text">LGBTQ+ inclusive football club based in Cardiff. They provide a safe and welcoming space for LGBTQ+ individuals to play football.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://www.cardiffdragonsfc.co.uk/" target="_blank" class="btn btn-dark">Visit Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-100 bg-purple white">
                            <div class="card-body text-center">
                                <h5 class="card-title">South Wales Gay Men's Chorus</h5>
                                <p class="card-text">South Wales Gay Men's Chorus hold open evenings a couple of times a year, keep an eye on their event listings for their next planned open evening. They would also love to welcome you along to one of their regular rehearsals if you are thinking of joining.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://www.swgmc.co.uk/" target="_blank" class="btn btn-dark">Visit Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-100 bg-green">
                            <div class="card-body text-center">
                                <h5 class="card-title">Pride Cymru</h5>
                                <p class="card-text">Pride Cymru is an annual LGBTQ+ event held in Cardiff, celebrating diversity and promoting equality. It features a parade, live music, and various activities.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://www.pridecymru.com/" target="_blank" class="btn btn-dark">Visit Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-100 bg-yellow">
                            <div class="card-body text-center">
                                <h5 class="card-title">The Queer Emporium</h5>
                                <p class="card-text">A queer community space, events space and shop based in Cardiff - stocking over 18 local LGBT+ businesses.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://queeremporium.co.uk/" target="_blank" class="btn btn-dark">Visit Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-100 bg-red white">
                            <div class="card-body text-center">
                                <h5 class="card-title">Trans Aid Cymru</h5>
                                <p class="card-text">Trans Aid Cymru is a non-hierarchal organisation made up of trans, intersex and non-binary people. Many of our service users are also involved in volunteering and running projects, and we greatly encourage trans, intersex and non-binary people across Wales to get involved as volunteers as well as service users.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://transaid.cymru" target="_blank" class="btn btn-dark">Visit Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-100 bg-cyan">
                            <div class="card-body text-center">
                                <h5 class="card-title">LGBT+ Cymru</h5>
                                <p class="card-text">The LGBT+ Cymru Helpline is a service that provides counselling service for Lesbian, Gay Bisexual, Trans, Intersex, Allies & families in Wales.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://lgbtcymru.org.uk/" target="_blank" class="btn btn-dark">Visit Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-100 bg-info">
                            <div class="card-body text-center">
                                <h5 class="card-title">Cardiff Lions RFC</h5>
                                <p class="card-text">Cardiff Lions RFC are Wales’ first LGBTQ+ inclusive rugby team. At the Lions we pride ourselves on our diversity in players, specifically their rugby/sporting abilities, which may range from completely new, to seasoned Welsh divisional league players.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://www.cardifflions.com/" target="_blank" class="btn btn-dark">Visit Website</a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card h-100 bg-warning">
                            <div class="card-body text-center">
                                <h5 class="card-title">Mind Cymru</h5>
                                <p class="card-text">Mind Cymru is a mental health charity that provides support and services for individuals experiencing mental health challenges in Wales.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://www.mind.org.uk/about-us/mind-cymru/" target="_blank" class="btn btn-dark">Visit Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



