{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col">
            <h2 class="text-center sub-heading mt-4">My Profile</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <form method="post" id="profile-update-form" action="{% url 'profile' %}">
                {% csrf_token %}
                <fieldset class="border border-black p-3 text-muted">
                    <legend class="mb-2">Account Details</legend>
                    {{ form|crispy }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary float-right">Update Information</button>
                    </div>
                </fieldset>
            </form>
            <form method="post" action="{% url 'deactivate_account' %}">
                {% csrf_token %}
                {{ deactivate_form|crispy }}
                <div class="d-flex justify-content-center mt-3 mb-3">
                    <button type="submit" class="btn btn-danger float-right" onclick="return confirm('Are you sure?');" aria-label="Deactivate Button">Deactivate My Account</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}