{% extends "base.html" %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
    <div class="row">
        <div class="col mt-5 mb-2">
            <h2 class="sub-heading text-center">Checkout Details</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-lg-8">
            <div class="basket-totals-border bg-white">
                <p class="text-muted ps-2 mt-2">Please fill out the form below to complete your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="border p-3 text-muted">
                        <legend class="mb-2">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="border p-3 text-muted">
                        <legend class="mb-2">Delivery</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0">
                            {% if user.is_authenticated %}
                                <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                            {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <a class="text-primary" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-primary" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="border p-3 text-muted">
                        <legend class="mb-2">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <div class="submit-button mt-5 d-flex justify-content-center">                    
						<a href="{% url 'view_bag' %}" class="btn btn-lg btn-primary">
							<span class="text-uppercase"><strong>Adjust Bag</strong></span>
						</a>
						<button id="submit-button" class="btn btn-lg btn-success ms-1">
							<span class="text-uppercase"><strong>Complete Order</strong></span>
						</button>
                    </div>
                    <p class="small text-danger my-0 text-center mb-2 mt-2">
                        <span class="icon">
                            <i class="bi bi-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-lg-3 bg-white  basket-totals-border">
            <p class="mt-4"><strong>Order Totals</strong></p>
            <hr class="mt-0">
            <div class="d-flex">
                <span class="me-auto"><strong>Product</strong></span>
                <span><strong>Subtotal</strong></span>
            </div>
            <hr>
            {% for item in bag_items %}
                <div class="d-flex">
                    <span class="me-auto">{{ item.product.name }}
                        {% if item.size %}
                            {{ item.size }} 
                        {% endif %}
                        x {{ item.quantity }}
                    </span>
                    <span>£{{ item.subtotal }}</span>
                </div>
            {% endfor %}
            <hr>
            <div class="d-flex">
                <span class="me-auto"><strong>Subtotal:</strong></span>
                <span>£{{ total }}</span>
            </div>
            <hr>
            <p class="ps-1"><strong>Shipping:</strong></p>
            <p class="ps-1"><small><strong>Standard Delivery (3-5 Working Days):</strong></small> £{{ delivery|floatformat:2 }}</p>
            <hr>
            <div class="d-flex">
                <span class="me-auto"><strong>Grand Total:</strong></span>
                <span><strong>£{{ grand_total|floatformat:2 }}</strong></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}