:root {
    --red: #E40303;
    --red-2: #EB3A3A;
    --orange: #FF8C00;
    --yellow: #FFED00;
    --green: #008026;
    --light-blue: #5BCEFA;
    --blue: #24408E;
    --blue-2: #1153b3;
    --purple: #732982;
    --white: #FFFFFF;
    --black: #000000;
    --purple-2: #540D6E;
    --pink: #FF718f;
    --yellow-2: #FFD23F;
    --cyan: #3BCEAC;
    --green-2: #0EAD69;
}

/* Bootstrap Overrides */
.btn-primary {
    --bs-btn-bg: var(--blue);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-bg: var(--blue-2);
    --bs-btn-disabled-bg: var(--blue);
    --bs-btn-disabled-border-color: var(--blue);
}

.btn-danger {
    --bs-btn-bg: var(--red);
    --bs-btn-border-color: var(--red);
    --bs-btn-hover-bg: var(--red-2);
    --bs-btn-disabled-bg: var(--red);
    --bs-btn-disabled-border-color: var(--red);
}

.btn-success {
    --bs-btn-bg: var(--green);
    --bs-btn-border-color: var(--green);
    --bs-btn-hover-bg: var(--green-2);
    --bs-btn-disabled-bg: var(--green);
    --bs-btn-disabled-border-color: var(--green);
}

/* Utilities */
.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--green);
}

.light-blue {
    color: var(--light-blue);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.bg-purple {
    background-color: var(--purple-2);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-yellow {
    background-color: var(--yellow-2);
}

.bg-cyan {
    background-color: var(--cyan);
}

.bg-green {
    background-color: var(--green-2);
}

.bg-red {
    background-color: var(--red);
}

.sub-heading {
    font-family: Roboto Slab, sans-serif;
}

.text-font {
    font-family: Open Sans, sans-serif;
    font-weight: 600; 
    font-size: 1rem;
}

.image-size {
    width: 15%;
    height: 15%;
}

/* base.html */
html, body {
    height: 100vh;
}

#main > .container {
    background: rgba(255,255,255, 0.7);
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Navbar Logo Text */
/* CREDIT:- Fd Web design https://www.youtube.com/watch?v=6yIW_Fz-4KE */

.text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.text-wrapper::before {
    background: linear-gradient(to right, rgb(237, 34, 36), rgb(243, 91, 34), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165), rgb(97, 55, 155), rgb(147, 40, 142));
    opacity: 0.5;
}

.text-body {
    display: flex;
}

.word-space {
    margin-right: 15px;
}

.text-item {
    text-shadow: 0 0 15px #ffff00, 0 0 25px #ffff00;
    animation: glow 1.5s linear infinite;
    font-family: 'Masque', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-item:nth-child(2) {
    animation-delay: 0.1s;
}

.text-item:nth-child(3) {
    animation-delay: 0.2s;
}

.text-item:nth-child(4) {
    animation-delay: 0.3s;
}

.text-item:nth-child(5) {
    animation-delay: 0.4s;
}

.text-item:nth-child(6) {
    animation-delay: 0.5s;
}

.text-item:nth-child(7) {
    animation-delay: 0.6s;
}

.text-item:nth-child(8) {
    animation-delay: 0.7s;
}

.text-item:nth-child(9) {
    animation-delay: 0.8s;
}

.text-item:nth-child(10) {
    animation-delay: 0.9s;
}

.text-item:nth-child(11) {
    animation-delay: 0.10s;
}

.text-item:nth-child(12) {
    animation-delay: 0.11s;
}

.text-item:nth-child(13) {
    animation-delay: 0.12s;
}

@keyframes glow {
        100% {
            filter: hue-rotate(360deg);
        }
}
/* End of Credit */

/* Rainbow Background */

#main {
    position: relative;
    background: linear-gradient(130deg,
        var(--white) 0%,
        var(--white) 25%,
        var(--red) 25%,
        var(--red) 32%,
        var(--orange) 32%,
        var(--orange) 39%,
        var(--yellow) 39%,
        var(--yellow) 46%,
        var(--green) 46%,
        var(--green) 53%,
        var(--light-blue) 53%,
        var(--light-blue) 60%,
        var(--blue) 60%,
        var(--blue) 67%,
        var(--purple) 67%,
        var(--purple) 74%,
        var(--white) 74%,
        var(--white)
    ) center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Footer */

footer, ul {
    padding-inline-start: 0;
}

.social-media-icon {
    text-decoration: none;
}

.icon-size {
    width: 30px;
    height: 30px;
}

/* index.html */

.hero-banner {
    background: url('/media/hero-image.webp') center no-repeat;
    width: 100%;
    min-height: 200px;
    filter: brightness(90%);
    background-size: cover;
}

.hero-title {
    font-family: 'Masque', sans-serif;
    font-weight: 400;
    font-size: 4.5rem;
    text-shadow: 6px 4px 0 var(--black);
    -webkit-text-stroke: 2px var(--black);
}

.image {
    max-width: 100%;
}

/* Products & Bag apps */
.update-link,
.remove-item {
    cursor: pointer;
}

.product-thumbnail {
    max-width: 90px;
}

.quantity-col {
    max-width: 150px;
}

.basket-totals-height {
    max-height: 450px;
}

.basket-totals-border {
    border-color: var(--black);
    border-style: solid;
}

/* 
    Set height to 1px so child div can properly
    calculate height to 100%
*/
.table-cell-height-fix {
    height: 1px;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .hero-title {
        font-weight: 400;
        font-size: 3.5rem;
    }
    
}

@media screen and (max-width: 768px) {
    .hero-title {
        font-weight: 400;
        font-size: 3rem;
    }
    
}

@media screen and (max-width: 576px) {
    .hero-title {
        font-weight: 400;
        font-size: 1.9rem;
    }
    
}