{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block corecss %}
    {% endblock %}

    {% block additional_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block additional_js %}
    {% endblock %}


    <title>Rainbow Runners {% block additional_title %} {% endblock %} </title>
</head>
<body>
    
</body>
</html>