{% extends "account/base_entrance.html" %}
{% load allauth %}
{% load i18n %}
{% block title %}
    {% element h1 %}
        {% trans "Confirm Access" %}
    {% endelement %}
{% endblock title %}
{% block inner_content %}
    <p>{% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}</p>
    {% block reauthenticate_content %}{% endblock %}
    {% if reauthentication_alternatives %}
        {% element hr %}
        {% endelement %}
        {% element h2 %}
            {% translate "Alternative options" %}
        {% endelement %}
        <ul>
            {% for alt in reauthentication_alternatives %}
                <li>
                    <a href="{{ alt.url }}">{{ alt.description }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock inner_content %}
