{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block title %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
{% endblock title %}
{% block inner_content %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ form|crispy }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            <button type="submit" class="btn btn-primary">Change Password</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        {% endslot %}
    {% endelement %}
{% endblock inner_content %}
