{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2 class="text-center sub-heading mt-4">Thank You</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center mt-4">
            <h3>Thanks for Your Question!</h3>
            <p class="lead">Your question ID is: {{ entry_id }}. We will aim to reply to your question with 48 hours. </p>
            <a href="{% url 'home' %}" class="btn btn-primary">Back to Home Page!</a>
    </div>
{% endblock %}