{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2 class="text-center sub-heading mt-4">View Questions</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center mt-4">
            <h3>Submitted Questions</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Question</th>
                        <th>Date Submitted</th>
                        <th>Time Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                    <tr>
                        <td>{{ question.name }}</td>
                        <td>{{ question.email }}</td>
                        <td>{{ question.question }}</td>
                        <td>{{ question.date|date:"d M, Y" }}</td>
                        <td>{{ question.date|time:"H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}