{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 class="text-center sub-heading mt-4">Club Shop</h2>
    <!--Product Sorting Dropdown-->
    <div class="row d-flex justify-content-end mb-3">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
            {% if is_admin %}
                <a class="btn btn-primary" href="{% url 'add_product' %}">Add Product</a>
            {% else%}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by...
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">
                                Price (Low to High)
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">
                                Price (High to Low)
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <!--Products Display-->
    <div class="container-fluid">
        <div class="row">
            {% if request.user.is_authenticated %}
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card h-100 border-0 shadow-sm">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0"><strong>{{ product.name }}</strong></p>
                                <p>£{{ product.price }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        {% if product.category %}
                                        <p class="small mt-1 mb-0">
                                            <span class="text-muted">
                                                <i class="fas fa-tag mr-1"></i> {{ product.category.friendly_name }}
                                            </span>
                                        </p>
                                        {% endif %}
                                        {% if is_admin %}
                                        <small class="ml-3">
                                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                            <a href="{% url 'add_product_info' product.id %}">Edit Product Info</a> | 
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for product in products %}
                    {% if product.category.name == "essentials" %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                            <div class="card h-100 border-0 shadow-sm">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0"><strong>{{ product.name }}</strong></p>
                                    <p>£{{ product.price }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="">
                                                    <i class="fas fa-tag mr-1"> </i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
<script>
    const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
    const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new  bootstrap.Dropdown(dropdownToggleEl))
</script>
{% endblock %}
