{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2 class="text-center sub-heading mt-4">Edit Info</h2>
    <div class="row d-flex justify-content-center mt-4 text-font">
        <div class="col-4">
            <form action="{% url 'edit_post' post_id=post.id %}" method="POST" class="p-3 border bg-light bg-gradient">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success white sub-heading">Done</button>
                    <a class="btn bg-secondary white sub-heading" aria-label="Go to the club posts page." href="{% url 'posts' %}" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}