{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bleach_tags %}

{% block content %}
<article>
    <div class="row d-flex justify-content-center text-font">
        <div class="col-xl-6 col-md-10 p-3">
            <p>{{ post.body }}</p>
            <!-- Display comments -->
            <section>
                <h4>Comments</h4>
                {% for comment in comments %}
                    <div class="card mt-2">
                        <div class="card-body">
                            <p>{{ comment.body|bleach }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="mb-0"><small class="text-muted">Posted by {{ comment.author }} on {{ comment.created_date|date:"d M, Y" }}</small></p>
                        </div>
                    </div>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
                <div class="mt-1">
                    <ul class="pagination pagination-sm justify-content-center mt-2">
                        {% if comments.has_previous %}
                            <li class="page-item">
                                <a class="page-link bg-yellow black"  href="?page=1">&laquo; first</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link bg-yellow black" href="?page={{ posts.previous_page_number }}">previous</a>
                            </li>
                        {% endif %}
                
                        <span class="current">
                            <li class="page-item">
                                <div class="page-link bg-yellow black">
                                    Page {{ comments.number }} of {{ comments.paginator.num_pages }}
                                </div>
                            </li>
                        </span>
                
                        {% if comments.has_next %}
                            <li class="page-item">
                                <a class="page-link bg-yellow black" href="?page={{ posts.next_page_number }}">next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link bg-yellow black" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </section>
            <!-- Comment form -->
            <section class="mt-2">
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-success" type="submit">Add Comment</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</article>
{% endblock %}