{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bleach_tags %}

{% block content %}
<article>
    <div class="row d-flex justify-content-center text-font">
        <div class="col-xl-6 col-md-10 p-3">
            <p>{{ post.body }}</p>
            <!-- Display comments -->
            <section>
                <h4>Comments</h4>
                {% for comment in comments %}
                    <div class="card mt-2">
                        <div class="card-body">
                            <p>{{ comment.body|bleach }}</p>
                        </div>
                        <div class="card-footer d-flex">
                            <div class="me-auto">
                                <p class="mb-0 justify-content-start align-self-center"><small class="text-muted">Posted by {{ comment.author }} on {{ comment.created_date|date:"d M, Y" }}</small></p>
                            </div>
                            <div>
                                {% if is_coordinator or user == comment.author or is_admin %}
                                    <small>
                                        <a href="{% url 'delete_comment' post.id comment.id %}" class="btn btn-danger" onclick="return confirm('Are you sure?');" aria-label="Delete Button"><i class="bi bi-trash3 p-2"></i></a>
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
                <div class="mt-1">
                    <ul class="pagination pagination-sm justify-content-center mt-2">
                        {% if comments.has_previous %}
                            <li class="page-item">
                                <a class="page-link bg-yellow black"  href="?page=1">&laquo; first</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link bg-yellow black" href="?page={{ comments.previous_page_number }}">previous</a>
                            </li>
                        {% endif %}
                
                        <span class="current">
                            <li class="page-item">
                                <div class="page-link bg-yellow black">
                                    Page {{ comments.number }} of {{ comments.paginator.num_pages }}
                                </div>
                            </li>
                        </span>
                
                        {% if comments.has_next %}
                            <li class="page-item">
                                <a class="page-link bg-yellow black" href="?page={{ comments.next_page_number }}">next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link bg-yellow black" href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </section>
            <!-- Comment form -->
            <section class="mt-2">
                <form id="comment_form" action="" method="post">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                        <div id="comment_body_validation" class="d-none alert alert-danger" role="alert">
                            Field is required
                        </div>
                        <div class="d-grid gap-2">
                            <input class="btn btn-success" type="button" id="comment_button" value="Add Comment">
                        </div>
                </form>
            </section>
        </div>
    </div>
</article>
{% endblock %}
{% block additional_js %}
    <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
    <script src="{% static 'js/ckeditor.js' %}"></script>
{% endblock %}
{% block postloadjs %}
    <script>
        const editorHelper = new CKEditorHelper();
        editorHelper.createEditor("comment", "body");
    </script>
{% endblock %}