{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <div class="col-6">
            {% for post in posts %}
                <div class="card mt-2">
                    <div class="card-body">
                        <div>{{post.user}}</div>
                        <div>{{post.body}}</div>
                        <div>{{post.created_date|date:"d M, Y"}}</div>
                        {% if post.edited_by != None %}
                            <div>{{post.edited_by}}</div>
                            <div>{{post.last_edited_date|date:"d M, Y"}}</div>
                        {% endif %}
                        {% if user.is_authenticated and user == post.user or user.is_superuser %}
                            <a href="{% url 'edit_post' post_id=post.id %}">Edit</a>
                            <a href="{% url 'delete_post' post.id %}" onclick="return confirm('Are you sure?');">Delete</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>
            
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                        <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form action="{% url 'posts' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {{ form|crispy}}
                {% endfor %}
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
{% endblock %}